.travis.yml
*.o
*.lo
shadows.dat
bin_unix/native_client
bin_unix/native_server
config/authpreprivate.cfg
config/authprivate.cfg
config/history
config/init.cfg
config/saved*.cfg
config/servers.cfg
config/configtemplates.zip
config/mapmodelattributes.cfg
config/entropy.dat
config/servervita*
packages/maps/*.cfg
!packages/maps/new_content.cfg
packages/maps/*.cgz
!packages/maps/new_content.cgz
!packages/maps/dev_*.cgz
packages/misc/checksums_md5.txt
source/codeblocks/AssaultCube.layout
source/codeblocks/AssaultCube_Linux.layout
source/enet/.deps/
source/enet/.libs/
source/enet/Makefile
source/enet/config.log
source/enet/config.status
source/enet/libenet.la
source/enet/libenet.pc
source/enet/libtool
source/src/ac_client
source/src/ac_server
source/src/cube.h.gch
source/src/Makefile_local
clientlog*.txt
dumpmapconfig.txt
packetlog.txt
profile/*
logs/*

