

body
{
	background-color: #343434;
	font-family: Verdana, Sans-Serif;
	margin: 0px;
	padding: 10px 0 10px 0;
	font-size: 12px;
	color: Black;
}

ul
{
	list-style-type:square;
}

p
{
	margin-top: 0;
	margin-bottom: 1em;
}

img
{
	border-width: 0;
}

pre
{
	margin: 0 0 1em 0;
	padding: 0;
	font-family: Courier New;
	font-size: 12px;
}

table
{
	margin-bottom: 1em;
}

h1
{
	font-size: 24px;
	margin: 0 0 0.5em 0;
}

h2
{
	font-size: 18px;	
	margin: 0 0 0.5em 0;
}

h3
{
	font-size: 14px;
	margin: 0 0 0.5em 0;
}

#main
{
	background-color: #666666;
	width: 650px;
	margin: 0;
	padding: 10px;
	text-align: left;
	border: solid 1px black;
}

#header
{	
	background-color: black;
	width: 650px;
	margin: 0px;
	padding: 0;
	height: 10px;
	text-align: right;
	font-size: 10px;
	color: White;
	font-family: Courier New, Sans-Serif;
	line-height: 1em;
}

#footer
{	
	background-color: black;
	width: 650px;
	margin: 0;
	padding: 0;
	height: 10px;
	text-align: right;
	font-size: 10px;
	color: White !important;
	font-family: Courier New, Sans-Serif;
	line-height: 1em;
}

#footer a, #footer a:hover, #footer a:visited
{
	color: White;
	text-decoration: none;
}

a, a:hover, a:visited
{
	color: #333333;
}

div.code
{
	font-family: Courier New, Sans-Serif;
	margin: 1em 0 1em 0;
	padding: 0 0 0 1em;
}

span.code
{
	font-family: Courier New, Sans-Serif;
	margin: 0;
	padding: 0;
}


/* guns */

table#guns td
{
	vertical-align: top;
}

/* gunstats */

table#gunstats
{
	width: 100%;
	border-collapse: collapse;
}

table#gunstats thead td
{
	font-weight: bold;
}

table#gunstats td
{
	border: solid 1px #777777;
}


/* items */

table.items td
{
	vertical-align: top;
}



