<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JPEG</string>
	<key>CFBundleGetInfoString</key>
	<string>JPEG framework 8.0.2, Copyright © 1991-2010, Thomas G. Lane, Guido Vollbeding.</string>
	<key>CFBundleIdentifier</key>
	<string>org.ijg.jpeg</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>8.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>8.0.2</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>JPEG framework 8.0.2, Copyright © 1991-2010, Thomas G. Lane, Guido Vollbeding.</string>
</dict>
</plist>
